spring:
  datasource:
    url: jdbc:mariadb://maria-db:3306/retro_store
    username: tarell
    password: my_pwd
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect

  sql:
    init:
      mode: always
